.budget-wrapper {
	width: 40%;
  max-width: 400px;
  margin-right: 50px;
}

.budget-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.budget-summary {
  margin-right: 15px;
}

.budget-summary span {
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #3E3E3E;
  margin: 0 5px;
}

.budget {
	width: 90%;
}

.budget-section {
	width: 100%;
  margin-bottom: 10px;
  padding: 25px 30px;
	border-radius: 20px;
	background-color: #FFF;
	box-shadow: 3px 5px 10px 0px rgba(0,0,0, 0.1);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.budget-control {
  margin: 0 15px;
  width: 70%;
}

.budget-content {
	height: 27px;
  margin-bottom: 12px;
  display: flex;
	align-items: center;
	justify-content: space-between;
}

.budget-content p {
	letter-spacing: 0.5px;
}

.budget-topic {
	color: #2D2D2D;
	margin-right: 10px;
}

.budget-update-wrapper {
	width: 50%;
  min-width: 120px;
	display: flex;
	justify-content: flex-end;
}

.budget-update {
	display: flex;
	justify-content: flex-end;
}

.budget-update .cancel-btn {
  margin: 12px 3px;
}

.budget-input {
	font-size: 16px;
	letter-spacing: 0.2px;
	color: rgba(62,62,62, 0.6);
	width: 80px;
  height: 22px;
  margin: 9px 0;
	padding: 3px 0 3px 7px;
	border: 1px solid #F0F0F0;
	border-radius: 5px;
  background-color: #F0F0F0;
}

.budget-input::placeholder {
	font-size: 16px;
  font-weight: 400;
  color: rgba(62,62,62, 0.6);
}

.budget-input:focus {
	border: 1px solid #177EF5;
  background-color: rgba(0, 0, 0,0.02);
}

.budget-text-wrapper {
  display: flex;
	justify-content: flex-start;
	align-items: center;
}

.budget-amount {
	color: #177EF5;
	margin-right: 2px;
}

.budget-detail {
	margin-bottom: 6px;
  display: flex;
	justify-content: space-between;
	align-items: center;
  animation: fadeinup 0.3s ease-in-out;
}

@keyframes
  fadeinup {
    from {
      margin-bottom: -2px;
      opacity: 0;
    }
    to {
      margin-bottom: 0;
      opacity: 1;
    }
  }

.budget-detail p {
	font-size: 13px;
	letter-spacing: 1px;
	margin-right: 28px;
}

.initial-budgetchart {
	font-size: 0.8em;
  background-color: #fff;
  box-shadow: 3px 5px 6px 0px rgba(0,0,0, 0.08);
  border-radius: 16px;
  width: 60px;
  margin-right: 15px;
  padding: 20px;
}

@media screen and (max-width: 1047px) {
  .budget-wrapper {
    width: 80%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
  }
}

@media screen and (max-width: 699px) {
  .budget-section {
    width: 98%;
  }
}

@media screen and (max-width: 680px) {
  .budget-summary span {
    font-size: 13px;
    letter-spacing: 1px;
  }

  .budget {
    width: 100%;
  }

  .budget-content p {
    font-size: 15px;
  }

  .budget-input {
    font-size: 14px;
  }

  .budget-detail p {
    font-size: 13px;
  }

  .budget-section {
    padding: 15px 10px;
    width: 96%;
  }
}

@media screen and (max-width: 575px) {
  .budget-wrapper {
    width: 90%;
  }

  .budget-content .budget-topic {
    font-size: 13px;
    margin-right: 16px;
  }

  .budget-input::placeholder {
    font-size: 15px;
  }
}

@media screen and (max-width: 436px) {
  .budget-wrapper {
    width: 75%;
    min-width: 267px;
  }

  .budget-section {
    flex-direction: column-reverse;
    padding: 30px 6px 10px 6px;
  }

  .budget-control {
    margin: 30px 0 20px 5px;
    max-width: 212px;
  }

  .budget-content .budget-topic {
    margin-right: 8px;
  }
}

@media screen and (max-width: 350px) {
  .budget-control {
    min-width: 194px;
  }
}
