.accounts {
	height: auto;
	margin-bottom: 50px;
	padding-top: 7%;
	border-radius: 20px;
	background-color: #F1F1F1;
	box-shadow: 3px 4px 8px 0px rgba(0,0,0, 0.15);
}

.scroll-wrapper {
	width: 100%;
}

.accounts-list {
	max-height: 400px;
	padding: 0 7% 2% 7%;
}

.add-item-wrapper {
	margin-top: 2%;
	padding: 2% 7% 3% 7%;
	border-radius: 0 0 18px 18px;
}

.add-item-wrapper-bg {
	background-color: rgba(0, 0, 0, 0.03);
}

.add-item-btn-wrapper {
	padding: 2% 0;
}

.add-item {
	width: 100%;
	padding: 3% 0;
	display: flex;
	justify-content: center;
}

.add-item-content {
	padding: 8px;
	border-radius: 6px;
	background-color:  #FFF;
	box-shadow: 3px 3px 8px 0px rgba(0,0,0, 0.1);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.item-detail-input {
	width: 48%;
}

.item-amount-input {
	width: 20%;
}

.add-item-content {
	width: 97%;
}

.add-item-content input {
	color: rgba(62,62,62, 0.9);
	margin: 0 4px;
	padding: 6px;
	background-color: rgba(0, 0, 0,0.1);
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 6px;
}

.add-item-content input::placeholder {
	color: rgba(0,0,0,0.5);
	font-weight: 500;
	letter-spacing: 0.5px;
}

.add-item-content input:focus {
	background-color: rgba(0, 0, 0,0.02);
	border: 1px solid  #3B93F7;
}

.item-btn-group {
	margin-left: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 1650px) {
  .add-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .item-detail-input {
    width: 56%;
  }

  .item-amount-input {
    width: 24%;
  }

  .item-btn-group {
    margin: 10px 5px;
    align-items: center;
  }
}

@media screen and (max-width: 560px) {
  .accounts {
    border-radius: 10px;
  }

  .accounts-list {
    width: 90%;
    align-items: flex-start;
    margin: 10px;
  }

  .add-item-wrapper {
    padding: 1% 3.5% 1.5% 3.5%;
  }

  .add-item-content input::placeholder {
    font-size: 12px;
  }
}

@media screen and (max-width: 415px) {
  .accounts-list {
    padding: 0 5px;
  }

  .add-item-content input {
    font-size: 13px;
  }  
}
